<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>>
</head>
 <body>
	 <div class="container">
		 <table class="table table=striped" >
			 <tr>
				  <th>First name</th>
				  <th>Last name</th>
				  <th>FechaNacimiento</th>
				  <th>Edad</th>
				  <th>dni</th>
				  <th>Edicion</th>
			 </tr>
			 <trth:each="doc:$(listado)">
				  <td>th:text="$(doc.nombre)"></td>
				  <td>th:text="$(doc.apellido)"></td>
				  <td>th:text="$(doc.direccionCalle)"></td>
				  <td>th:text="$(doc.direccioNumero)"></td>
				  <td>th:text="$(doc.direccioBarrio)"></td>
				  <td>th:text="$(doc.direccioCiudad)"></td>
				  <td>th:text="$(doc.getEdad())"></td>
				  <td>th:text="$(doc.fechaNacimiento)"></td>
				  <td>th:text="$(doc.dni)"></td>
				  <td>th:text="$(doc.correo)"></td>
				  <td>th:text="$(doc.telefono)"></td>
				  <td><a type="button"class ="btn btn=Info"
				  href="#"
				  th:href="'@{/eliminarDocente/'+${doc.dni}}"	  
				  >ELIMINAR</a></td>
				   <td><a type="button"class ="btn btn=Info"
				  href="#"
				  th:href="'@{/modificarDocente/'+${doc.dni}}"	  
				  >MODIFICAR</a></td>	  	  
			</tr>
			
		 </table>
	 </div>
	 
 </body>

</html>